__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.pyc
*.pdb
*.egg-info/
dist/
build/
resources/*/*
.vscode
venv/
main.build/
main.dist/
binary/

# exclude those assets which are necessary for the ci workflow
!resources/background/CardBase500001.png
!resources/character/CardChara550105.png
!resources/font/SEGA_MARUGOTHICDB.ttf
!resources/general/Friend.png
!resources/general/GoldFrame.png
!resources/general/DummyQRCode.png
!resources/general/IconFreedom.png
!resources/general/IconLevel.png
!resources/general/IconMaster.png
!resources/general/IconRating.png
!resources/general/IconPower1.png
!resources/general/Name.png
!resources/general/Num-.png
!resources/general/NoFriendCode.png
!resources/general/Num0.png
!resources/general/Num1.png
!resources/general/Num5.png
!resources/general/Player.png
!resources/general/QRCodeBase.png
!resources/general/Ra1.png
!resources/general/Ra11.png
!resources/index/chara.json
